# Token de connexion de votre bot BloumeChat
BOT_TOKEN=VOTRE_BOT_TOKEN_ICI

# Préfixe par défaut pour l'ensemble des commandes du bot
PREFIX=!

# (Optionnel) ID Client de l'application (si différent de l'ID utilisateur du bot pour le lien d'invitation)
CLIENT_ID=
